html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*codigo*/

html {
    scroll-behavior: smooth;
}
.title{
    font-family: 'Poppins', sans-serif;
}
.text{
    font-family: 'Montserrat', sans-serif;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.icon {
    width: 20%;
}
.icon img {
    width: 50px;
}
nav {
    width: 20%;
}
nav ul {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    color: blue;
    transition: 0.5s;
}
.contenedor-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 649px;
    padding: 0 15%;
}
.descripcion-h h3 {
    width: 97px;
    padding: 5px;
    color: white;
    background-color: rgb(192, 166, 49);
    border-radius: 5px;
}
.descripcion-h button {
    background-color: rgb(238, 235, 235);
    padding: 10px;
    border: 0px;
    border-radius: 10px;
}
.descripcion-h button:hover {
    background-color: blue;
    transition: 1s;
    color: white;
}
.img-h img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.about {
    height: 740px;
    padding: 0 15%;
}
.about h1 {
    text-align: center;
    margin: 40px;
    font-size: 30px;
    font-weight: 800;
}
.contenedor-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}
.descripcion-a {
    padding: 5% 10%;
    background-color: rgb(205, 253, 237);
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.descripcion-a h3{
    text-align: center;
}
.head-sk {
    text-align: center;
    margin-top: 20px;
}
.contenedor-sk {
    padding: 10px 10%;
    background-color: rgb(205, 253, 237);
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.skills {
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.skills p {
    margin: 2px;
    color: white;
    background-color: rgb(40, 91, 212);
    padding: 10px;
    border-radius: 10px;
    
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 5%;
    background-color: gray  ;
    color: beige;
}
.fa-brands{
    font-size: 50px;
    margin: 10px;
    color: white;
}
.fa-brands:hover{
    transform: scale(1.1);
}
.contenedor-contactos h3 {
    font-size: 20px;
}
.contenedor-redes h3 {
      font-size: 20px;
    text-align: end;
}
.b-form{
    background-color: rgb(238, 235, 235);
    padding: 5px;
    border: 0px;
    border-radius: 10px; 
  }
.b-form:hover{
    background-color: blue;
    transition: 1s;
    color: white;
}
form input{
    border-radius: 5px;
    border-width: 0;
}
form h3{
    font-size: 20px;
}

@media screen and (max-width: 480px){
    .contenedor-h{
        display: grid;
        padding: 10%;
    }
    .contenedor-a{
        display: grid;
        padding: 10%;
    }
    .footer{
        display: grid;
        justify-content: center;
        align-content: space-between;
        height: 500px;
    }
    .contenedor-redes h3{
        text-align: start;
    }
    .menu{
        padding: 20px;
    }
    nav{
        width: 60%;
    }
}
